/* PLAYER */

#audazio {
	display:none;
	width: 358px;
	/*height: 100px;    sin altura 
	border: solid 1px #999999;*/
	z-index: 999999;
}

#audazio input[type=text]:focus, #audazio input[type=password]:focus {
	outline: 0 none;
}

#audazio a{
	outline:0;
}

#audazio-header{
	width: 308px;
	height: 28px; /* -2 se veia el loading */
	background-image: url('../img/silver/bg-player-top.png');
	background-repeat: no-repeat;
	padding: 25px 25px 0 25px;
	overflow: hidden;
}
#audazio-header .audazio-header-options{
	padding:5px 0 0 5px;
	float:right;
}
#audazio-body{
	background-image: url('../img/silver/bg-player-body.png');
}
#audazio-body-separator{
	height: 20px;
	background-image: url('../img/silver/bg-player-separator.png');
	background-repeat: no-repeat;
	background-position:center;
}
#audazio-body-panel{
	width: 318px;
	height: 66px; /* foto album 64 px + padding 5 */
	padding: 0 20px 0 20px;
	/*border: 1px solid #000000;*/
}
#audazio-body-panel-image{
	width: 75px;
	height: 66px;
	float: left;
	padding-left: 5px;
	background-image: url('../img/silver/bg-audazio-album.png');
	background-repeat: no-repeat;
	background-position:center;	
}

#audazio-body-panel-image img{
	/*border: 1px solid #999999;*/
}

#audazio-img-album, .audazio-cover{
	width: 64px;
	height: 64px;
}
.audazio-cover{
	background-image: url('../img/silver/cover-album.png');
}

#audazio-body-panel-controls{
	width: 238px;
	height: 66px;
	float: right;	
}

#audazio-volume-slider{
	width:90px;
	height: 10px;
	margin: 8px 14px 8px 14px;
}

#audazio-body-panel-controls-info{
	width: 234px;
	height: 25px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-ms-border-radius: 10px;
	border-radius: 10px;	
	margin-bottom: 10px;
}

#audazio-scroller-container {
	position: relative;
	width: 176px;
	height: 25px;
	overflow: hidden;
	float:left;
	/*background-color:#cc0000*/
}

#audazio-scroller {
	padding-top: 2px;
	white-space: nowrap;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 8pt;	
}

#audazio-scroller p {
	padding: 0;
}

.audazio-track-time{
	width: 48px;
	float:right;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 12pt;
	font-weight:bold;
	text-align:right;
	padding-left:2px;
	/*background-color:#ffcc00;*/
}
#audazio-body-panel-controls-buttons{
	width: 260px;
	height: 40px; 
}
#audazio-footer{
	width: 358px;
	height: 40px;
	background-image: url('../img/silver/bg-player-footer.png');
}

#audazio-body-panel-controls-curve{
	width: 230px;
	height: 22px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;	
	border: 1px solid #EDEDED;
	background-color: #EDEDED;
	background-image: url('../img/silver/bg-progress-bar.png');
	background-position: -232px 0;
	background-repeat:no-repeat;
}

#audazio-body-config {
	color: #333333;
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 8pt;
	padding: 10px 20px 0 20px;
}

#audazio-body-video {
	height:0;
}

/* GENERICOS */

.audazio-clear{
	clear:both;
}

.audazio-find-input{
	width: 150px;
	height: 15px;
	font-family: Trebuchet MS, Arial, Helvetica;
	border: 1px #EDEDED solid;
	color: #333333;
	padding: 5px;
	font-size: 8pt;
	background-color: #EDEDED;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-ms-border-radius: 4px;
	border-radius: 4px;	
}

.audazio-find-input:focus{
	border: 1px #999999 solid;
}


.audazio-boton {
	width: 18px;
	height: 18px;
	padding: 4px;
}

.audazio-left{
	float:left;
}

.audazio-img{
	vertical-align:middle;
}

.audazio-loading{
	background: url('../img/silver/ajax-loader.gif') center left no-repeat;
	padding:  5px 5px 5px 20px;
	width:auto;
	color: #888888;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 10px;
}

.audazio-info{
	background: url('../img/silver/icon-info.png') no-repeat;
	padding:  5px 5px 5px 20px;
	width:auto;
	color: #888888;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 12px;
	cursor: pointer;
}
.audazio-radio-tune{
	padding:  5px 5px 10px 5px;
	color: #666666;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 12px;
	text-align:center;
}

.audazio-state-default { width: 16px; height: 16px; background-image: url(../img/silver/ui-icons_888888_256x240.png); }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http:/jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http:/jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this silver, visit http:/jqueryui.com/silverroller/?ctl=silverroller
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
/*.ui-widget-content { border: 1px solid #aaaaaa; background: #EDEDEF url(../img/silver/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x; color: #222222; }*/
.ui-widget-content { background: #EDEDEF ; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(../img/silver/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
/* default */
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(../img/silver/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
/**********/
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }

/* hover */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: #dadada url(../img/silver/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
/**********/

.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #EDEDEF; font-weight: normal; color: #212121; outline: none; }
/*.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../img/silver/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }*/
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(../img/silver/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../img/silver/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../img/silver/ui-icons_222222_256x240.png); }
/* default */
.ui-state-default .ui-icon { background-image: url(../img/silver/ui-icons_888888_256x240.png); }
/**********/
.ui-widget-content .ui-icon {background-image: url(../img/silver/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../img/silver/ui-icons_222222_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../img/silver/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../img/silver/ui-icons_2e83ff_256x240.png); }
/* hover */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../img/silver/ui-icons_454545_256x240.png); }
/**********/
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../img/silver/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-pause { background-position: -16px -160px; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;  }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;}
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;}
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}

/* Overlays 
.ui-widget-overlay { background: #aaaaaa url(../img/silver/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../img/silver/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Accordion
*/

----------------------------------*/
/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 10px; height: 19px; cursor: default; }
/*.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }*/
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -5px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }